#icons-tab a {
  font-size: 25px !important;
  margin: 30px !important;
  color: #61a22e !important;
  transition: 0.3s all !important;
}

#icons-tab a:hover {
  font-size: 25px !important;
  margin: 30px !important;
  color: #7ad336 !important;
}

#form-signup {
  background-color: #61a22e !important;
  border: none !important;
  transition: 0.2s all !important;
}

#form-signup:hover {
  background-color: #7ad336 !important;
}

.modal-header {
  direction: rtl !important;
}

.close {
  background-color: #61a22e !important;
  color: white;
  border-radius: 50% !important;
  padding: 10px !important;
  width: 20px !important;
  height: 20px !important;
  border: none !important;
  transition: 0.2s all !important ;
}
.close:hover {
  background-color: #7ad336 !important;
}

#closex {
  font-size: 10px !important;
}
.social-button {
  background-position: 25px 0;
  box-sizing: border-box;
  color: #dc4a3d;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  border-radius: 3px;
  margin: 10px auto;
  outline: rgb(255, 255, 255) none 0;
  padding-left: 20%;
  transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.google-connect {
  background: #fff url(/public/assets/images/google.png) no-repeat scroll 5px 0/50px
    50px padding-box border-box;
  border: 1px solid #dc4a3d;
}

.google-connect:hover {
  border-color: #dc4a3d;
  color: #fff;
  background: #dc4a3d url(/public/assets/images/google-white.png) no-repeat
    scroll 5px 0/50px 50px padding-box border-box;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease-out;
  text-decoration: none;
}
